{% extends 'layouts/blank.twig' %}

{% block content %}

    <div class="card centered-card">
        <p>Silahkan Login di Link Ini</p>
        <a href="{{ url('signin') }}" title="Sign in" class="button">Sign in</a>
    </div>

{% endblock %}
